header {
  padding: 0.5rem 0 0.4rem 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

header .logo a {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .logo a:hover {
  color: #ed217c;
}

header .logoIcon {
  width: 3rem;
  margin: 0 0 0.3rem 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

header a {
  font-family: "Work Sans", sans-serif;
  color: #f4fffd;
  text-decoration: none;
}

header a:hover {
  color: #f4fffd;
}

nav a {
  margin: 0 2rem 0 1rem;
  text-decoration: none;
  color: #f4fffd;
  font-size: 1.2rem;
}

nav a:hover {
  color: #dd7104;
}

nav a:hover:nth-child(2) {
  color: #ed217c;
}

.menu a {
  font-size: 1rem;
  display: block;
}

.connectWeb3P {
  margin: 3rem 0 0 3rem;
  color: #f4fffd;
  border: 1px solid #f4fffd;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.connectWeb3P .connectWeb3Btn {
  font-style: italic;
  background-color: transparent;
  color: #ed217c;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 0.3rem;
}

.connectWeb3P .connectWeb3Btn:hover {
  color: #6aff0d;
}

.web3on {
  color: #6aff0d;
  text-shadow: 0 1px 5px black;
  font-weight: bold;
  font-style: italic;
  margin: 3rem 0 0 3rem;
  display: inline-block;
}

.web3on .greenDot {
  width: 2rem;
}

.web3off {
  color: #ed217c;
  font-weight: bold;
  font-style: italic;
  margin: 1rem 0 0 3rem;
  text-shadow: 0 1px 3px black;
  display: inline-block;
}

.web3off .redDot {
  margin: 0 0.5rem 0.1rem 0;
  width: 1rem;
}

.loginForm {
  margin: 2rem 2rem 2rem 2rem;
  color: #f4fffd;
  font-family: "Work Sans", sans-serif;
}

.loginForm .head {
  background-color: #2d3047;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginForm .head .login,
.loginForm .head .register {
  background-color: #2d3047;
  border: none;
  color: #f4fffd;
}

.loginForm .head .selected {
  color: #ed217c;
  font-size: 1.4rem;
  font-style: italic;
}

.loginForm .form {
  color: #2d3047;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.loginForm .form legend {
  color: #f4fffd;
  font-size: 1rem;
  font-style: italic;
}

.loginForm .form input {
  height: 2rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.loginForm .form button {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background: #ed217c;
  border: none;
  color: #f4fffd;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}

.loginForm .form button:hover {
  background-color: #dd7104;
}

.footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #2d3047;
  color: #f4fffd;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travel {
  margin-bottom: 10rem;
  font-family: "Work Sans", sans-serif;
}

.travel .title {
  margin: 4rem 0 2rem 2rem;
  color: #f4fffd;
  font-family: "Lobster", cursive;
  background-color: #2d3047;
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.travel .secondaryTitle {
  display: inline;
  font-family: "Lobster", cursive;
  margin-left: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f4fffd;
}

.travel .selection {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

.travel .selection p {
  color: #fffd82;
}

.travel .selection .clear {
  color: #f4fffd;
  background-color: #2d3047;
  width: 100%;
}

.travel .selection .clear:hover {
  color: #2d3047;
  background-color: #fffd82;
}

.travel .selection a {
  display: block;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
  background-color: #ed217c;
  color: #f4fffd;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.travel .selection a:hover {
  color: #2d3047;
  background-color: #fffd82;
}

.travel .card {
  max-width: 30rem;
  background-color: #f4fffd;
}

.travel .cardSelected {
  border: 5px solid #ed217c;
}

.travel .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.travel .card-text {
  text-align: justify;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.travel .card-text a {
  font-style: italic;
  text-decoration: none;
}

.travel button {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
  background-color: #dd7104;
  color: #f4fffd;
  font-weight: bold;
  text-transform: uppercase;
}

.travel button:hover {
  background-color: #ed217c;
}

.travel .selected {
  background-color: #ed217c;
  color: #f4fffd;
}

.travel .selected:hover {
  background-color: #ed217c;
  color: #f4fffd;
}

.travel img {
  height: auto;
}

.reservation {
  margin: 4rem 2rem 10rem 2rem;
  color: #f4fffd;
  font-family: "Work Sans", sans-serif;
}

.reservation .head {
  background-color: #2d3047;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reservation .head h2 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

.reservation .form {
  color: #2d3047;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.reservation .form p {
  color: #f4fffd;
  font-size: 1.2rem;
}

.reservation .form p span {
  color: #fffd82;
  font-weight: bold;
  font-size: 1.5rem;
}

.reservation .form p .edit {
  font-size: 0.8rem;
  color: #f4fffd;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
  margin-left: 0.5rem;
}

.reservation .form p a {
  text-decoration: none;
  color: #ed217c;
  font-weight: bold;
  font-size: 1.5rem;
}

.reservation .form .reserve {
  background-color: #dd7104;
}

.reservation .form .reserve:hover {
  color: #fffd82;
}

.reservation .form legend {
  color: #f4fffd;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.reservation .form .transport,
.reservation .form .travel,
.reservation .form .catering,
.reservation .form .activities,
.reservation .form .tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1.2rem 4rem;
}

.reservation .form .transport input,
.reservation .form .travel input,
.reservation .form .catering input,
.reservation .form .activities input,
.reservation .form .tours input {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  margin-right: 1rem;
}

.reservation .form .transport label,
.reservation .form .travel label,
.reservation .form .catering label,
.reservation .form .activities label,
.reservation .form .tours label {
  color: #f4fffd;
  font-size: 1.2rem;
}

.reservation .form .id {
  color: #2d3047;
  text-transform: uppercase;
  font-size: 1.1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.reservation .form .id span {
  font-weight: bold;
}

.reservation .form .total {
  color: #2d3047;
  text-transform: uppercase;
  font-size: 1.1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 3px;
}

.reservation .form .total span {
  font-weight: bold;
}

.reservation .form button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: #f4fffd;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  background-color: #2d3047;
}

.reservation .form .getters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.reservation .form .getters button:hover {
  color: #fffd82;
}

.reservation .form .pay {
  background: #ed217c;
}

.reservation .form .pay:hover {
  background-color: #fffd82;
  color: #ed217c;
}

.web3container {
  display: inline-block;
}

.web3container .showInfoBtn {
  margin: 0.5rem 0 10rem 3rem;
  padding: 0.5rem;
  background: #2d3047;
  border: none;
  color: #f4fffd;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
}

.web3container .showInfoBtn:hover {
  background-color: #6aff0d;
}

.web3container .hide {
  display: none;
}

.web3container .web3info {
  color: #f4fffd;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  margin-left: 3rem;
  margin-bottom: 10rem;
  font-size: 12px;
}

.web3container .web3info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web3container .web3info div p {
  text-transform: uppercase;
}

.web3container .web3info div button {
  color: #f4fffd;
  margin-left: auto;
  margin-bottom: 1rem;
  background: none;
  border: 1px solid #f4fffd;
  border-radius: 5px;
  padding: 0 3px 0 3px;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  position: relative;
  min-height: 100vh;
}

body {
  background-image: url("../images/van_md.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/*# sourceMappingURL=styles.css.map */