header {
  padding: 0.5rem 0 0.15rem 0;
  background-color: $transparentBlack;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  .logo a {
    font-family: $logoFont;
    font-size: 3rem;
    margin-left: 1.5rem;

    &:hover {
      color: $red;
    }
  }
  .logoIcon {
    width: 3rem;
    margin: 0 0 0.5rem 1rem;
    filter: invert(1);
  }

  a {
    font-family: $mainFont;
    color: $white;
    text-decoration: none;
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

nav {
  a {
    margin: 0 2rem 0 1rem;
    text-decoration: none;
    color: $white;
    font-size: 1.2rem;
    &:hover {
      color: $orange;
    }
    &:hover:nth-child(2) {
      color: $red;
    }
  }
}
