.connectWeb3P {
  @include sm-screens-third-titles;
  margin: 3rem 3rem 0 3rem;
  color: $white;
  border: 1px solid $white;
  font-size: 1rem;
  font-family: $mainFont;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: $transparentBlack;
  .connectWeb3Btn {
    @include sm-screens-third-titles;
    font-style: italic;
    background-color: transparent;
    color: $red;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
      color: $green;
    }
  }
}

.web3on {
  color: $green;
  text-shadow: 0 1px 5px black;
  font-weight: bold;
  font-style: italic;
  margin: 3rem 0 0 3rem;
  display: inline-block;
  .greenDot {
    width: 2rem;
  }
}

.web3off {
  color: $red;
  font-weight: bold;
  font-style: italic;
  margin: 1rem 0 0 3rem;
  text-shadow: 0 1px 3px black;
  display: inline-block;
  .redDot {
    margin: 0 0.5rem 0.1rem 0;
    width: 1rem;
  }
}

.formAddress {
  background-color: $transparentWhite;
  font-family: $mainFont;
  margin: 3rem 3rem 3rem 3rem;
  padding: 1rem;
  color: $black;
  text-align: center;
  h2 {
    @include sm-screens-titles;
    color: $black;
    font-size: 3.5rem;
  }
  label {
    @include sm-screens-third-titles;
    font-style: italic;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  input {
    @include sm-screens-third-titles;
    background-color: $transparentBlack;
    color: $white;
    text-align: center;
    display: block;
    width: 60%;
    border: none;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: 500;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white;
      opacity: 0.6; /* Firefox */
    }
  }
  button {
    width: 20%;
    padding: 0.5rem;
    border: none;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
    background-color: $black;
    margin-top: 1.5rem;
    &:hover {
      background-color: $red;
      color: $yellow;
    }
  }
}
