.connectWeb3P {
  margin: 3rem 0 0 3rem;
  color: $white;
  border: 1px solid $black;
  font-size: 1rem;
  font-family: $mainFont;
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
  background-color: $transparentBlack;
  .connectWeb3Btn {
    font-style: italic;
    background-color: transparent;
    color: $red;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 0.3rem;
    &:hover {
      color: $green;
    }
  }
}

.web3on {
  color: $green;
  text-shadow: 0 1px 5px black;
  font-weight: bold;
  font-style: italic;
  margin: 3rem 0 0 3rem;
  display: inline-block;
  .greenDot {
    width: 2rem;
  }
}

.web3off {
  color: $red;
  font-weight: bold;
  font-style: italic;
  margin: 1rem 0 0 3rem;
  text-shadow: 0 1px 3px black;
  display: inline-block;
  .redDot {
    margin: 0 0.5rem 0.1rem 0;
    width: 1rem;
  }
}

.loginForm {
  margin: 2rem 2rem 2rem 2rem;
  color: $white;
  font-family: $mainFont;
  .head {
    background-color: $black;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .login,
    .register {
      background-color: $black;
      border: none;
      color: $white;
    }
    .selected {
      color: red;
      font-size: 1.4rem;
      font-style: italic;
    }
  }
  .form {
    color: $black;
    background-color: $transparentBlack;
    padding: 1rem;
    legend {
      color: $white;
      font-size: 1rem;
      font-style: italic;
    }
    input {
      height: 2rem;
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
    }
    button {
      margin-top: 0.5rem;
      width: 100%;
      padding: 0.5rem;
      background: $red;
      border: none;
      color: $white;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      &:hover {
        background-color: $orange;
      }
    }
  }
}

.temp {
  margin-top: 5rem;
}
