.loginForm {
  margin: 4rem 2rem 2rem 2rem;
  color: $white;
  font-family: $mainFont;
  .header {
    background-color: $black;
    padding: 1rem;
  }
  .form {
    color: $black;
    background-color: $transparentBlack;
    padding: 1rem;
    input {
      height: 2rem;
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
    }
    button {
      margin-top: 0.5rem;
      width: 100%;
      padding: 0.5rem;
      background: $red;
      border: none;
      color: $white;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      &:hover {
        background-color: red;
      }
    }
  }
}
