.loader {
  color: $white;
  text-align: center;
  margin-top: 2rem;
  p {
    animation-duration: 2s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
  }
  @keyframes clignoter {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

#loader {
  border: 12px solid $red;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  margin: 2rem auto 2rem auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
   */
