.register {
  @include sm-screens-small-margins;

  margin: 2rem 2rem 2rem 2rem;
  color: $white;
  font-family: $mainFont;
  .head {
    background-color: $black;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .registerTitle {
      @include sm-screens-secondary-titles;
      font-size: 2.5rem;
      background-color: $black;
      border: none;
      color: $white;
      font-family: $logoFont;
    }
  }
  .form {
    @include sm-screens-third-titles;
    color: $black;
    background-color: $transparentBlack;
    padding: 1rem;
    legend {
      @include sm-screens-third-titles;
      color: $white;
      font-size: 1rem;
      font-style: italic;
    }
    input {
      height: 2rem;
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
    }
    button {
      @include sm-screens-third-titles;
      margin-top: 0.5rem;
      width: 100%;
      padding: 0.5rem;
      background: $red;
      border: none;
      color: $white;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      &:hover {
        background-color: $orange;
      }
    }
  }
}
