.reservation {
  margin: 4rem 2rem 10rem 2rem;
  color: $white;
  font-family: $mainFont;
  .head {
    background-color: $black;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    h2 {
      @include sm-screens-secondary-titles;
      font-family: $logoFont;
      font-size: 2.5rem;
    }
  }
  .form {
    color: $black;
    background-color: $transparentBlack;
    padding: 1rem;

    p {
      @include sm-screens-third-titles;
      color: $white;
      font-size: 1.2rem;
      span {
        color: $yellow;
        font-weight: bold;
        font-size: 1.5rem;
      }
      .edit {
        font-size: 0.8rem;
        color: $white;
        font-weight: 500;
        font-style: italic;
        text-decoration: underline;
        margin-left: 0.5rem;
      }
      a {
        text-decoration: none;
        color: $red;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
    .reserve {
      background-color: $orange;
      &:hover {
        color: $yellow;
      }
    }
    .cancel {
      background-color: $orange;
      &:hover {
        background-color: $red;
        color: $yellow;
      }
    }
    legend {
      color: $white;
      font-size: 1rem;
      font-style: italic;
      margin-bottom: 1.2rem;
      margin-top: 1.2rem;
    }
    .transport,
    .travel,
    .catering,
    .activities,
    .tours {
      display: flex;
      align-items: center;
      margin: 0 0 1.2rem 4rem;
      input {
        transform: scale(1.7);
        margin-right: 1rem;
      }
      label {
        @include sm-screens-third-titles;
        color: $white;
        font-size: 1.2rem;
      }
    }
    .getters {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.7rem;
      margin-bottom: 1rem;
      button:hover {
        color: $yellow;
      }
    }
    .id {
      @include sm-screens-third-titles;
      color: $black;
      text-transform: uppercase;
      font-size: 1.1rem;
      text-align: center;
      background-color: $transparentWhite2;
      padding: 0.5rem;
      margin-bottom: 0.6rem;
      border-radius: 3px;
      span {
        font-weight: bold;
      }
    }
    .total {
      @include sm-screens-third-titles;
      color: $black;
      text-transform: uppercase;
      font-size: 1.1rem;
      text-align: center;
      background-color: $transparentWhite2;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 3px;
      span {
        font-weight: bold;
      }
    }
    button {
      width: 100%;
      padding: 0.5rem;
      border: none;
      color: $white;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      background-color: $black;
    }
    .pay {
      background: $red;
      &:hover {
        background-color: $yellow;
        color: $red;
      }
    }
  }
}
