.travel {
  margin-bottom: 10rem;
  .title {
    margin: 4rem 2rem 2rem 2rem;
    color: $white;
    font-family: $mainFont;
    background-color: $black;
    display: inline-block;
    padding: 1rem;
  }
  .secondaryTitle {
    display: inline-block;
    margin-left: 2rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: $white;
  }
  .card {
    max-width: 30rem;
  }
  img {
    height: auto;
  }
}
