.travel {
  margin-bottom: 10rem;
  font-family: $mainFont;
  .title {
    @include sm-screens-secondary-titles;
    margin: 4rem 0 2rem 2rem;
    color: $white;
    font-family: $logoFont;
    background-color: $black;
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .secondaryTitle {
    display: inline;
    font-family: $logoFont;
    margin-left: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: $white;
  }
  .selection {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: $transparentBlack;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    p {
      color: $yellow;
    }
    .clear {
      color: $white;
      background-color: $black;
      width: 100%;
      &:hover {
        color: $black;
        background-color: $yellow;
      }
    }
    a {
      display: block;
      text-align: center;
      font-family: $mainFont;
      padding: 0.5rem;
      font-size: 0.8rem;
      border: none;
      background-color: $red;
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $black;
        background-color: $yellow;
      }
    }
  }
  .card {
    max-width: 30rem;
    background-color: $white;
  }
  .cardSelected {
    border: 5px solid $red;
  }
  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .card-text {
    text-align: justify;
    line-height: 1.2rem;
    font-size: 0.8rem;
    a {
      font-style: italic;
      text-decoration: none;
    }
  }
  button {
    display: inline-block;
    font-family: $mainFont;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: none;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      background-color: $red;
    }
  }
  .selected {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }

  img {
    height: auto;
  }
}
