// COLORS
$white: #f4fffd;
$orange: #dd7104;
$yellow: #fffd82;
$black: #2d3047;
$red: #ed217c;
$red2: #ff0000;
$green: #6aff0d;
$lightYellow: #fffcb8;
$transparentBlack: rgba(0, 0, 0, 0.6);
$transparentWhite: rgba(255, 255, 255, 0.7);

// FONTS
$mainFont: "Work Sans", sans-serif;
$logoFont: "Lobster", cursive;
