.introText {
  background-color: $transparentWhite;
  font-family: $mainFont;
  margin: 3rem 3rem 10rem 3rem;
  padding: 1rem;
  color: $black;
  h2 {
    @include sm-screens-titles;
    font-size: 3.5rem;
  }
  p {
    @include sm-screens-third-titles;
    font-size: 2rem;
    font-style: italic;
  }
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a,
    button {
      @include sm-screens-small-paddings;
      @include sm-screens-third-titles;
      text-decoration: none;
      display: block;
      width: 100%;
      text-align: center;
      font-family: $logoFont;
      padding: 1rem;
      font-size: 1.5rem;
      background-color: $black;
      color: $white;
      border: none;
      &:nth-child(2) {
        margin-left: 1rem;
      }
      &:hover {
        color: $yellow;
      }
      &:hover:nth-child(2) {
        color: $red;
      }
    }
  }
  .getTokens {
    text-align: center;
    margin: 2rem 0 2rem 0;
    label {
      margin-bottom: 1rem;
    }
    input {
      @include sm-screens-third-titles;
      background-color: $transparentBlack;
      color: $white;
      text-align: center;
      display: block;
      width: 60%;
      border: none;
      height: 2.5rem;
      margin: 0 auto 1.5rem auto;
      font-size: 2rem;
      font-weight: 500;
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 0.6; /* Firefox */
      }
    }
    button {
      @include sm-screens-third-titles;
      padding: 0.5rem;
      border: none;
      color: $white;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      background-color: $black;
      &:hover {
        background-color: $red;
        color: $yellow;
      }
    }
  }
}
