@import "_variables";
@import "_mixins";

@import "_header";
@import "_home";
@import "_footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  // min-width: 15rem;
  background-image: url("../images/van_md.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
